  <div class= 'text-center'>
    <div class= 'top'>
      <h1 class= 'top-title'>RyohiChecker</h1>
      <p class= 'top-setumei'>～旅費の予算と実績を記録し、振り返ることで今後の無駄な出費を減らすためのシンプルなアプリです～</p>
     </div>
  </div>
  <div class= 'topbtn'>
    <a class= 'topbtn_item' href= '/signup'>サインアップ</a>　
    <a class= 'topbtn_item' href= '/login'>　ログイン　</a>
  </div>
  